#simulation {
	/* width: 248px;
	height: 334px; */
	width: 320px;
	height: 480px;
	overflow-x:hidden;
	border: 1px solid black;
}

#html-editor, #css-editor, #javascript-editor {
	width: 800px;
	height: 507px;
}

#code-editor { float: left; }
#smartphone { float: left; margin-left: 30px; }
.clear { clear: both;}

.tabs {

}

.hidden {
	display: none;
}

#lang-menu li {
	list-style: none; float: left; 
	position: relative; 
	top: 0; 
	margin: 1px .2em 0 0; 
	border-bottom: 0; 
	padding: 0; 
	white-space: nowrap;
}